.weather-card {
    width: 30%;
    height: 50%;
    margin: 50px auto 0px auto;
    background-color: hsl(213, 33%, 33%);
    border-radius: 4%;
}

.left {
    float: left;
    width: 40%;
    height: 75%;
    background-color: aliceblue;
    margin: 40px 12.5px;
    font-size: 48px;
}

.right {
    float: right;
    width: 40%;
    height: 75%;
    background-color: aliceblue;
    margin: 40px 12.5px;
}
