<div class="weather-card">
    <div class="city">
        {{city.name}}
    </div>
    <div class="info">
        <div class="left">
            <div class="temp">
                <i class="fas fa-temperature-high fa-beat"></i> {{data.main.temp.toFixed(1)}}°C
            </div>
            <div *ngIf="conditions === 'Clear'" class="icon sun">
                <i class="fa fa-sun fa-spin fa-2x"></i>
            </div>
            <div *ngIf="conditions === 'Clouds'" class="icon cloud">
                <i class="fa-solid fa-cloud fa-2x"></i>
            </div>
            <div *ngIf="conditions === 'Rain'" class="icon rain">
                <i class="fa-solid fa-cloud-showers-heavy fa-2x fa-bounce"></i>
            </div>
            <div *ngIf="conditions === 'Snow'" class="icon">
                <i class="fa fa-sun fa-spin fa-3x"></i>
            </div>
            <div *ngIf="conditions === 'Extreme'" class="icon">
                <i class="fa fa-sun fa-spin fa-3x"></i>
            </div>
        </div>
        <div class="right">
            <div>L: {{data.main.temp_min}}°C</div>
            <br>
            <div>H: {{data.main.temp_max}}°C</div>
            <br>
            <div><i class="fa fa-tint"></i> {{data.main.humidity}}%</div>
        </div>
    </div>
</div>